{%extends "index.html" %}

{% block mainbody %}
{% load staticfiles %}
<p> <img src="{% static "img\six.jpeg" %}" style="max-width:50%;;position: relative;
    top: 0px;left:200px;"/> </p> 
<p>&emsp;&emsp;有专家对分布在内蒙古乌兰哈达地区的火山群进行考察。该地有一座新的火山，距今约四五千年。专家想这座火山活动以后会给当地带来一系列气候、地理、环境的变化，同时也会影响一些生物的变化。当时就想了解一下周围的环境状况，就问了当地人，当地人告诉专家在察右后旗二榆树沟村的村口附近有棵大树。专家就去看了看，树的确很大，经测量了解到树干高达16米、直径1.58米、周长4.78米，树冠28米，覆盖面积580平方米。经鉴定，树龄将近900年。</p>
<p>&emsp;&emsp;<strong>任务一：</strong>结合材料所提供的信息，你会产生什么问题或疑问？并说出你的思考过程。</p>
    
    
<button id="recBtn" onclick="recordControll()">开始录音</button>
<button type="button"><a href="/seven/">下一步</a></button> 

<!-- jQuery -->
<script src="{% static 'js\jquery-1.11.0.js' %}" type="text/javascript" charset="utf-8"></script>
<!-- 录音插件 -->
<script src="{% static 'Recorder-master/recorder.mp3.min.js' %}" type="text/javascript" charset="utf-8"></script>

<script type="text/javascript">
    
    var recordFlag = 0; // 0准备录音，1录音中，2录音完毕
    function recordControll(){
        if(recordFlag == 0) {
            document.getElementById("recBtn").innerHTML = "停止录音";
            beginRecord();
            recordFlag = 1;
        } else if(recordFlag == 1) {
            endRecord();
            recordFlag = 2;
            //window.location.href="/task1/"
        } 
    }

    // 初始化Recorder
    var rec=Recorder({type:"mp3",sampleRate:16000});
    function beginRecord() {
        rec.open(function(){
        //start打开录音
            rec.start();
        },function(msg){
            mui.toast("无法录音:"+msg);
        });
    }
    
    function endRecord() {
        rec.stop(function(blob,duration){
            //var res=URL.createObjectURL(blob);
            console.log((window.URL||webkitURL).createObjectURL(blob),"时长:"+duration+"ms");
            rec.close();//释放录音资源
            //已经拿到blob文件对象想干嘛就干嘛：立即播放、上传

            var form=new FormData();
            form.append("upfile",blob,"Six.mp3"); //和普通form表单并无二致，后端接收到upfile参数的文件，文件名为recorder.mp3
            console.log(form);
            // 存储到服务器
            $.ajax({
                url:'/uploadSix/',
                type:'post',
                contentType:false, //让xhr自动处理Content-Type header，multipart/form-data需要生成随机的boundary
                processData:false, //不要处理data，让xhr自动处理
                data:form,
                success:function(v){
                    console.log("上传成功",v);
                },
                error:function(s){
                    console.error("上传失败",s);
                }
            });

            /*立即播放例子*/
            /*
            var audio=document.createElement("audio");
            audio.controls=true;
            document.body.appendChild(audio);
            audio.src=(window.URL||webkitURL).createObjectURL(blob);
            audio.play();
            */
        });
    }
</script>
    
{% endblock %}