  
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>华东师范大学课题组</title>
<style type="text/css">
        .border {width:820px; height:150px; margin:50px auto;}
        .luyin {float:left;width:380px; border:1px dashed black;padding:20px;}
        .search {float:right;width:320px; height:410px;border:1px dashed black;padding:20px;}
        a {
            text-decoration:none;
            color:black;
        }
        button {
            background-color:lightsalmon;
        }
</style>
</head>
<body>
    <div class="border">
    {% load staticfiles %}
        <div class="luyin">
            <p> <img src="..\static\img\05.jpg" style="max-width:100%;"/> </p> 
            <p>&emsp;&emsp;有专家对分布在内蒙古乌兰哈达地区的火山群进行考察。该地有一座新的火山，距今约四五千年。专家想这座火山活动以后会给当地带来一系列气候、地理、环境的变化，同时也会影响一些生物的变化。当时就想了解一下周围的环境状况，就问了当地人，当地人告诉专家在察右后旗二榆树沟村的村口附近有棵大树。专家就去看了看，树的确很大，经测量了解到树干高达16米、直径1.58米、周长4.78米，树冠28米，覆盖面积580平方米。经鉴定，树龄将近900年。</p>
            <p><strong>任务二：</strong>专家认为，该区域出现千年古榆树，实属罕见。试解释这株古榆树生长在此地，并年久不衰的原因。</p>
            <button type="button"><a href="/final/">下一步</a></button>
        </div>
        <div class="search">
            <p>&emsp;&emsp;在思考过程中，如果需要相关信息或资料，可以在下面“资料搜索”框中输入关键词，然后点击🔍。</p>
            <p>&emsp;&emsp;如查不到你想要的资料，请举手咨询老师。</p>
        </div>
    </div>
</body>
</html>